@font-face {
    font-family: 'OpenGost Type A TT';
    src: url('opengosta-400-normal.woff2') format('woff2'), url('opengosta-400-normal.woff') format('woff'), url('opengosta-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}